@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --color-fundo: #d7e5ee;
  --color-box: #ffffff;

  --color-base : #19a6ec;
  --color-base-translucid: #19a6ec25;
  --color-hover : #058ed3;
  --color-contrast : #14345c;
  --color-contrast-hover : #F5F9FC;
  
  --color-text: #2e2e2e;
  --color-text-secondary: #7c7a7a;

  --color-code : rgb(223, 238, 255);
  --color-imput: #ffffff;
  --color-input-label: #19c5ec;
  --color-input-focus: #EBEDF3;
  --color-input-border:#e2e2e3;
  --color-input-placeholder:#c0c0c0;

  --color-nav:#fffffff9;
  --color-nav-itens:rgba(52, 61, 86, 0.984);
  --color-wall-load:rgba(255, 255, 255, 0.661);

  --color-shadow: #e4e4e4;
  --color-shadow-2: #a8a8a8;
  --color-gray: #939191;
  --color-ligthgray: #E7EAF0;
  --color-darkgray: #5d5d5d;
  --color-success: #86ebba;
  --color-primary: #6fbcf2;
  --color-warning: #f5c674;
  --color-danger: #ff586e;
  --color-success-dark: #1d7254;
  --color-primary-dark: #024f92;
  --color-warning-dark: #a16704;
  --color-danger-dark: #7e1c29;

  --border-box: 1px solid #cfd9e5;
}

.dark:root{
  --color-fundo: #000000;
  --color-box: #1E293B;

  --color-base : #0da5f0;
  --color-hover : #058ed3;
  --color-contrast : #acd1ff;
  --color-contrast-hover : #0091ff29;
  --color-base-translucid: #0a659225;
  
  --color-text: #f0f0f0;
  --color-text-secondary: #cfcfcf;
  --color-wall-load:rgba(35, 35, 35, 0.458);
  --color-code : rgba(38, 74, 116, 0.795);

  --color-shadow: #141c29;
  --color-shadow-2: rgb(121, 122, 122);
  --color-imput: #000000;
  --color-input-label: #64d4ec;
  --color-input-focus: #2f2f2f;
  --color-input-border:#e2e2e3;
  --color-input-placeholder:#787878;
  
  --color-nav: #1e293bf9;
  --color-nav-itens:#cfcfcf;
  --color-wall-load:rgba(39, 39, 39, 0.661);

  --border-box: 1px solid #334155;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

*, h1, h2, h3, h4, h5{
  font-size: 1rem;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
  color: var(--color-text);
  background: var(--color-fundo);
  background-image: url('../imgs/bg.svg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition:color 0.5s, background-color 0.5s;
  overflow: hidden;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}

