.dp__month_year_select {
    color: var(--color-text) !important;
}

.dp__month_year_select:hover {
    background-color: transparent !important;
}

.dp-custom-calendar {
    .dp__calendar_header_item {
        color: var(--color-text) !important;
    }
}

.dp-custom-input-dtpk {
    border: 2px solid var(--color-input-border) !important;
    background-color: var(--color-input) !important;
    padding: 10px 34px !important;
    color: var(--color-text) !important;
    font-weight: 600;
}

.dp-custom-input-dtpk-alert{
    border: 2px solid var(--color-danger) !important;
    background-color: var(--color-input) !important;
    padding: 10px 34px !important;
    color: var(--color-text) !important;
    font-weight: 600;
}

.dp-custom-cell {
    border-radius: 50% !important;
    color: var(--color-text) !important;
}

.dp-custom-cell:hover{
    background-color: var(--color-base-translucid) !important;
}

.dp-custom-menu {
    background-color: var(--color-input) !important;
    color: var(--color-text) !important;
    border: 2px solid var(--color-input-border) !important;
}

.dp__arrow_top{
    background-color: var(--color-input-border) !important;
    border: none !important;
}

.dp__overlay{
    background-color: var(--color-input) !important;
    color: var(--color-text) !important;
}

.dp__active_date{
    background-color: var(--color-base) !important;
}

.dp__time_display{
    color: var(--color-text) !important;
}

.dp__time_display:hover{
    background-color: var(--color-base-translucid) !important;
}