@import 'b%/bootstrap.min.css';
@import 'bi%/bootstrap-icons.css';
@import './base.css';

.txt-color{
  color: var(--color-text);
}

.txt-color-sec{
  color: var(--color-text-secondary);
}

.txt-color-base{
  color: var(--color-base);
}

.container-primary{
  min-height: 100vh;
}

.container-main{
  width: 100%;
  padding: 100px 0 15px 150px;
}

.header-main{
  width: calc(100% - 145px);
  background-color: var(--color-background);
  top: 0;
  left: 145px;
  padding: 20px;
  position: fixed;
}

.header-main-title{
  flex-grow: 2;
}

.header-main-btn-searchbar{
  height: 60px;
  text-align: left;
  width: 100%;
  padding: 10px;
  outline:none;
  background-color: var(--color-background);
  border: 2px solid var(--color-border);
}

@media (max-width: 991px) {
  .container-main{
    width: 100%;
    padding: 200px 30px 30px 30px;
  }

  .header-main{
    width: 100%;
    /* background-color: var(----color-background); */
    padding: 0 20px;
    top: 130px;
    left: 0;
  }
}