@import 'b%/bootstrap.min.css';
@import 'bi%/bootstrap-icons.css';
@import './base.css';

.container-primary{
  min-height: 100vh;
}

.container-main{
  width: 100%;
  padding: 0 0 15px 160px;
  position: relative;
}

@media (max-width: 991px) {
  .container-main{
    width: 100%;
    padding: 100px 30px 30px 30px;
  }
}